<!DOCTYPE html>
<html>
	<head>
  		<title>Имаджинейшн</title>
		<link rel="stylesheet" href="css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
 	</head>
	<body>
		<div class="header flex_container color1">
			<div class="header_inner center logo_container">
				<div class="logo center">
					<a href="/"><img src="/img"></a>
				</div>
			</div>
			<div class="header_inner padding15 phone_hidden">
				<h1 class="header_inner_title">Профиль</h1>
			</div>
		</div>
        <div class="breadcrumbs_inner color3">
			<table>
                <tr>
                    <td><a class="dark" href="/">Главная</a></td><td><a class="dark" href="/authors">Об авторах</a></td><td><a class="dark" href="/texts">Все произведения</a></td><td>Профиль</td><td><a class="dark" href="/connect">Тех.поддержка</a></td>
                </tr>
            </table>
		</div>
		<div class="main_inner">
			<div class="contact_container flex_container">		
				<div class="contact_inner">
					<h3><%=error %></h3>
					<form action="/edit" method="POST">
					<div class="input_container">
						<div>Название: </div>
						<input type="text" placeholder="Название" id="title" name="title" required value='<%=text["title"] %>' />
					</div>
					<div class="input_container">
						<div>Текст: </div>
						<textarea data-text="true" placeholder="Мяу" id="text" name="text" required><%=text["full_text"] %></textarea>
					</div>
					<input type="hidden" name="id" value=<%=text["id"] %> />
					<button class="all_corners" type="submit">Изменить</button>
					</form>
					<br>
					<form action="/del" method="post">
					<input type="hidden" name="id" value=<%=text["id"] %> />
					<button class="all_corners" type="submit">Удалить</button>
					</form>
					<div>
						<br>
						<button class="all_corners" onclick="location.href='/profile'">В профиль</button>
						<br><br>
					</div>
				</div>
			</div>
		</div>
		<div class="footer center flex_container color3">
			<div class="footer_inner padding15 logo phone_hidden">
				<a href="/"><img src="/img"></a>
			</div> 
			<div class="footer_inner padding15">
				<div class="left">
					<a class="dark" href="/">Главная</a><br>
					<a class="dark" href="/authors">Об авторах</a><br>
					<a class="dark" href="/texts">Все произведения</a><br>
					<a class="dark" href="/profile">Профиль</a><br>
					<a class="dark" href="/connect">Тех.поддержка</a><br>
				</div> 
			</div> 
		</div>
	</body>
</html>